


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Approval Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content {
            margin: 20px;
        }
        .header, .footer {
            text-align: center;
            margin-bottom: 20px;
        }
        .content-section {
            margin-bottom: 20px;
        }
        .signature {
            width: 150px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container content">
        <div class="header">
            <img style="margin-left: 0px;" src="http://www.prsuuniv.in/resources/assets/img/logo.png" width="100px" height="100px"><br/>
            <h3>पं. रविशंकर शुक्ल विश्वविद्यालय, रायपुर (छ.ग.)</h3>
            <p>Phone No. 0771-2262587 Website: www.prsu.ac.in E-mail: dradmin@prsu.ac.in</p>
        </div> <b><hr></b>

        <div class="content-section">
            <div class="row">
                <div class="col-md-6">
                    <p>क्रमांक: _______/सा.प्र.शा./________</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>रायपुर, दिनांक:_____/_____ /______ </p>
                </div>
            </div>

            <div class="text-center">
                <h4>//आदेश//</h4>
            </div>
      
            
            <!-- <p><b><%= leave.name %>,</b> <b><%= leave.designation %>(द्वितीय श्रेणी लिपिक),</b> <b><%= leave.d_name %>,</b>    पं. रविशंकर शुक्ल विश्वविद्यालय, रायपुर को दिनांक <b><%= leave.start_date %></b> से <b><%= leave.end_date %></b>  तक कुल <b><%= leave.days %></b>  दिनों का अर्जित अवकाश स्वीकृत किया जाता है।</p> -->
            <p><b><%= leave.name %>,</b> <b><%= leave.designation %>,</b> <b><%= leave.d_name %>,</b>    पं. रविशंकर शुक्ल विश्वविद्यालय, रायपुर को दिनांक <b><%= leave.start_date %></b> से <b><%= leave.end_date %></b>  तक कुल <b><%= leave.days %></b>  दिनों का अर्जित अवकाश स्वीकृत किया जाता है।</p>

            <p>इनके अवकाश अवधि में  <b>डॉ. अनुराग श्रीवास्तव,</b>  हि.श्रे.लि. अपने कार्यों के साथ-साथ इनके कार्यों का भी संपादन करेंगे।</p>

            <p>उपर्युक्त अवकाश स्वीकृति पश्चात इनके अवकाश लेखे में <b>EL: <%= LeaveBalancedata.earned_leave, %></b> ,<b>CL: <%= LeaveBalancedata.casual_leave, %></b>   दिनों का अर्जित अवकाश शेष है।</p>

            <div class="row">
                <div class="col-md-12 text-right">
                    <p>आवश्यकतानुसार</p>
                    <p>उपकुलसचिव (प्रशा.)</p>
                    <p>रायपुर, दिनांक: ___/__/___</p>
                </div>

                <div class="col-md-12">
                <p>क्रमांक: _____/सा.प्र.शा./______</p>
                <p>प्रतिलिपि:</p>
                <ol>
                    <li>संबंधित कर्मचारी को।</li>
                    <li>संबंधित विभाग को।</li>
                    <li>कुलपति/कुलसचिव के निजी सहायक, पं. रविशंकर शुक्ल विश्वविद्यालय, रायपुर को सूचनाार्थ।</li>
                </ol>
                 
                </div>

            </div>
        </div>

        

        <div class="footer text-right">
            <p>महा.कुलसचिव (प्रशा.)</p>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/023/264/092/small/fake-hand-drawn-autographs-set-handwritten-signature-scribble-for-business-certificate-or-letter-isolated-illustration-vector.jpg" alt="Digital Signature" class="signature">
        </div>
    </div>
</body>
</html>





<button class="btn bg-primary print-button" onclick="window.print()">
  Print
</button>
